A script for running a matplotlib visualization of the shoal model. The end goal is to have a 3D visualization.

[Matplotlib simple_anim example](https://matplotlib.org/examples/animation/simple_anim.html)
[Tutorial](http://jakevdp.github.io/blog/2012/08/18/matplotlib-animation-tutorial/)

In [1]:
from shoal_model_pos_data import ShoalModel
import numpy as np
import pandas as pd

model = ShoalModel(population=100, width=100, height=100, speed=1, vision=10, separation=2)
for i in range(10):
    model.step()
data = model.datacollector.get_model_vars_dataframe()

# Get DataFrame into a form that can be exported as .csv
data = np.asarray(data)
data = data.flatten()  # one set of brackets removed....
df = pd.DataFrame(data)
output = df[0].apply(pd.Series)  # removed another set of brackets
output[0].apply(pd.Series)  # removed last brackets

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>72.189928</td>
    </tr>
    <tr>
      <th>1</th>
      <td>40.790295</td>
    </tr>
    <tr>
      <th>2</th>
      <td>50.460070</td>
    </tr>
    <tr>
      <th>3</th>
      <td>32.871328</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1.216663</td>
    </tr>
    <tr>
      <th>5</th>
      <td>82.060160</td>
    </tr>
    <tr>
      <th>6</th>
      <td>39.310627</td>
    </tr>
    <tr>
      <th>7</th>
      <td>44.977898</td>
    </tr>
    <tr>
      <th>8</th>
      <td>73.275775</td>
    </tr>
    <tr>
      <th>9</th>
      <td>66.259559</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.animation as animation